// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
/*$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;*/


/** colors */
$colors: (
        orange: (
                base: #F47321,
                light: lighten(#F47321, 20%),
                dark: darken(#F47321, 20%),
        ),
        red: (
                base: #C13832,
                light: lighten(#C13832, 20%),
                dark: darken(#C13832, 20%),
        ),
        green: (
                base: #005030,
                light: #a2ad00,
                dark: #01321e,
        ),
        grey: (
                base: #6a6a6a,
                dark: #3b3a3a,
                light: #8986A0,
        ),
        white: (
                base: #FFFFFF,
                dark: #B2BEB5,
                light: #d3d3d3,
        ),
        teal: (
                base: #91B9A4,
                dark: teal,
                light: teal,
        ),
        beige: (
                base: #fffaf3,
                dark: darken(#fffaf3, 70%),
                light: lighten(#fffaf3, 20%)
        ),
        twitter: (
                base: #55ACEE,
                dark: #55ACEE,
                light: #55ACEE,
        ),
        facebook: (
                base: #3b5999,
                dark: #3b5999,
                light: #3b5999,
        ),
        instagram: (
                base: #4C68D7,
                dark: #4C68D7,
                light: #4C68D7,
        ),
        heckerling-red: (
                base: #83082C,
          /*base: #830B2C,*/
          /*base: #57060D,*/
                dark: darken(#83082C, 20%),
                light: lighten(#83082C, 20%),
        ),
        heckerling-gold: (
                base: #B69E56,
                dark: darken(#B69E56, 20%),
                light: lighten(#B69E56, 20%),
        )
);

@function setcolor($scheme, $tone: base, $alpha: null, $darken: null){
  $value: map-get(map-get($colors, $scheme), $tone);

  @if ($alpha){
    $value: rgba($value, $alpha);
  }

  @if ($darken){
    $value: darken($value, $darken)
  }

  @return $value;
}

@mixin color-modifiers($property, $alpha: null, $prefix: '', $suffix: '', $darken: null){
  .#{$prefix}orange#{$suffix} {
    #{$property}: setcolor(orange, $alpha: $alpha, $darken: $darken);
  }
  .#{$prefix}darkorange#{$suffix} {
    #{$property}: setcolor(orange, dark, $alpha: $alpha, $darken: $darken);
  }
  .#{$prefix}lightorange#{$suffix} {
    #{$property}: setcolor(orange, light, $alpha: $alpha, $darken: $darken);
  }
  .#{$prefix}red#{$suffix} {
    #{$property}: setcolor(red, $alpha: $alpha, $darken: $darken);
  }
  .#{$prefix}darkred#{$suffix} {
    #{$property}: setcolor(red, dark, $alpha: $alpha, $darken: $darken);
  }
  .#{$prefix}lightred#{$suffix} {
    #{$property}: setcolor(red, light, $alpha: $alpha, $darken: $darken);
  }
  .#{$prefix}black#{$suffix} {
    @if ($alpha){
      #{$property}: rgba(black, $alpha);
    } @else {
      #{$property}: black;
    }
  }
  .#{$prefix}white#{$suffix} {
    #{$property}: setcolor(white, $alpha: $alpha, $darken: $darken);
  }
  .#{$prefix}darkwhite#{$suffix} {
    #{$property}: setcolor(white, dark, $alpha: $alpha, $darken: $darken);
  }
  .#{$prefix}lightwhite#{$suffix} {
    #{$property}: setcolor(white,light, $alpha: $alpha, $darken: $darken);
  }
  .#{$prefix}green#{$suffix} {
    #{$property}: setcolor(green, $alpha: $alpha, $darken: $darken);
  }
  .#{$prefix}lightgreen#{$suffix} {
    #{$property}: setcolor(green, light, $alpha: $alpha, $darken: $darken);
  }
  .#{$prefix}darkgreen#{$suffix} {
    #{$property}: setcolor(green, dark, $alpha: $alpha, $darken: $darken);
  }
  .#{$prefix}teal#{$suffix} {
    #{$property}: setcolor(teal, $alpha: $alpha, $darken: $darken);
  }
  .#{$prefix}beige#{$suffix} {
    #{$property}: setcolor(beige, $alpha: $alpha, $darken: $darken);
  }
  .#{$prefix}darkbeige#{$suffix} {
    #{$property}: setcolor(beige, dark, $alpha: $alpha, $darken: $darken);
  }
  .#{$prefix}lightbeige#{$suffix} {
    #{$property}: setcolor(beige, light, $alpha: $alpha, $darken: $darken);
  }
  .#{$prefix}twitter#{$suffix} {
    #{$property}: setcolor(twitter, $alpha: $alpha, $darken: $darken);
  }
  .#{$prefix}facebook#{$suffix} {
    #{$property}: setcolor(facebook, $alpha: $alpha, $darken: $darken);
  }
  .#{$prefix}instagram#{$suffix} {
    #{$property}: setcolor(instagram, $alpha: $alpha, $darken: $darken);
  }
  .#{$prefix}grey#{$suffix},.#{$prefix}gray#{$suffix} {
    #{$property}: setcolor(grey, $alpha: $alpha, $darken: $darken);
  }
  .#{$prefix}darkgrey#{$suffix},.#{$prefix}darkgray#{$suffix} {
    #{$property}: setcolor(grey, dark, $alpha: $alpha, $darken: $darken);
  }
  .#{$prefix}lightgrey#{$suffix},.#{$prefix}lightgray#{$suffix} {
    #{$property}: setcolor(grey, light, $alpha: $alpha, $darken: $darken);
  }
  .#{$prefix}heckerling-red#{$suffix} {
    #{$property}: setcolor(heckerling-red, $alpha: $alpha, $darken: $darken);
  }
  .#{$prefix}heckerling-gold#{$suffix} {
    #{$property}: setcolor(heckerling-gold, $alpha: $alpha, $darken: $darken);
  }
}

@mixin backgroundModifiers($alpha: null, $prefix: '', $suffix: '', $darken: null){
  @include color-modifiers(background-color, $alpha, $prefix, $suffix, $darken);
}

@mixin fontModifiers($alpha: null, $prefix: '', $suffix: ''){
  .bold {
    font-weight: bolder;
  }
  @include color-modifiers(color, $alpha, $prefix, $suffix);
}

@mixin buttonModifiers(){
  .orange {
    color: white;
    @include setBGColorDarkenOnHover(setcolor(orange));
  }
  .lightorange {
    color: white;
    @include setBGColorDarkenOnHover(setcolor(orange, light));
  }
  .darkorange {
    color: white;
    @include setBGColorDarkenOnHover(setcolor(orange, dark));
  }
  .red {
    color: white;
    @include setBGColorDarkenOnHover(setcolor(red));
  }
  .white {
    color: white;
    @include setBGColorDarkenOnHover(setcolor(white));
  }
  .darkwhite {
    color: white;
    @include setBGColorDarkenOnHover(setcolor(white, dark));
  }
  .lightwhite {
    color: white;
    @include setBGColorDarkenOnHover(setcolor(white,light));
  }
  .green {
    color: white;
    @include setBGColorDarkenOnHover(setcolor(green));
  }
  .lightgreen {
    color: white;
    @include setBGColorDarkenOnHover(setcolor(green, light));
  }
  .darkgreen {
    color: white;
    @include setBGColorDarkenOnHover(setcolor(green, dark));
  }
  .teal {
    color: white;
    @include setBGColorDarkenOnHover(setcolor(teal));
  }
  .grey,.gray {
    color: white;
    @include setBGColorDarkenOnHover(setcolor(grey));
  }
  .darkgrey,.darkgray {
    color: white;
    @include setBGColorDarkenOnHover(setcolor(grey, dark));
  }
  .lightgrey,.lightgray {
    color: white;
    @include setBGColorDarkenOnHover(setcolor(grey, light));
  }
}

/** Color and Hover effect */
@mixin setBGColorDarkenOnHover($color, $darken: 20%){
  background-color: $color;
  transition: background-color .5s;
  &:hover {
    background-color: darken($color, $darken);
  }
}

@mixin setColorEaseOnHover($color_from, $color_to, $darken: 20%){
  color: $color_from;
  transition: color .5s ease;
  &:hover {
    color: $color_to !important;
  }
}

@mixin fontHoverModifiers(){
  $orange: setcolor(orange);
  $red: setcolor(red);
  $green: setcolor(green);
  .ease-white-to-orange {
    @include setColorEaseOnHover(white, $orange);
  }
  .ease-black-to-orange {
    @include setColorEaseOnHover(black, $orange);
  }
  .ease-orange-to-black {
    @include setColorEaseOnHover($orange, black);
  }
  .ease-red-to-white {
    @include setColorEaseOnHover($red, white);
  }
  .ease-orange-to-white {
    @include setColorEaseOnHover($orange, white);
  }
  .ease-black-to-red {
    @include setColorEaseOnHover(black, $red);
  }
  .ease-black-to-green {
    @include setColorEaseOnHover(black, $green);
  }
  .ease-black-to-teal {
    $color: setcolor(teal);
    @include setColorEaseOnHover(black, $color);
  }
  .ease-black-to-heckerling-red {
    $color: setcolor(heckerling-red);
    @include setColorEaseOnHover(black, $color);
  }
  .ease-black-to-heckerling-gold {
    $color: setcolor(heckerling-gold);
    @include setColorEaseOnHover(black, $color);
  }
}

@mixin setBGColorEaseOnHover($color_from, $color_to, $darken: 20%){
  background-color: $color_from;
  transition: background-color .5s ease;
  &:hover {
    background-color: $color_to !important;
  }
}


/** breakpoints */
$breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1500px,
);

/** mixins
  Breakpoint content from bootstrap 4
*/

// Name of next breakpoint
@function breakpoint-next($name, $breakpoints: $breakpoints, $breakpoint-names: map-keys($breakpoints)) {
  $n: index($breakpoint-names, $name);
  @return if($n < length($breakpoint-names), nth($breakpoint-names, $n + 1), null);
}

// Minimum breakpoint width. Null for the smallest (first) breakpoint.
@function breakpoint-min($name, $breakpoints: $breakpoints) {
  $min: map-get($breakpoints, $name);
  @return if($min != 0, $min, null);
}

// Maximum breakpoint width. Null for the largest (last) breakpoint.
@function breakpoint-max($name, $breakpoints: $breakpoints) {
  $next: breakpoint-next($name, $breakpoints);
  @return if($next, breakpoint-min($next, $breakpoints) - 1px, null);
}

// Returns a blank string if smallest breakpoint, otherwise returns the name with a dash infront.
@function breakpoint-infix($name, $breakpoints: $breakpoints) {
  @return if(breakpoint-min($name, $breakpoints) == null, "", "-#{$name}");
}

// Media of at least the minimum breakpoint width. No query for the smallest breakpoint.
@mixin media-breakpoint-up($name, $breakpoints: $breakpoints) {
  $min: breakpoint-min($name, $breakpoints);
  @if $min {
    @media (min-width: $min) {
      @content;
    }
  } @else {
    @content;
  }
}

// Media of at most the maximum breakpoint width. No query for the largest breakpoint.
@mixin media-breakpoint-down($name, $breakpoints: $breakpoints) {
  $max: breakpoint-max($name, $breakpoints);
  @if $max {
    @media (max-width: $max) {
      @content;
    }
  } @else {
    @content;
  }
}

// Media that spans multiple breakpoint widths.
@mixin media-breakpoint-between($lower, $upper, $breakpoints: $breakpoints) {
  $min: breakpoint-min($lower, $breakpoints);
  $max: breakpoint-max($upper, $breakpoints);

  @if $min != null and $max != null {
    @media (min-width: $min) and (max-width: $max) {
      @content;
    }
  } @else if $max == null {
    @include media-breakpoint-up($lower) {
      @content;
    }
  } @else if $min == null {
    @include media-breakpoint-down($upper) {
      @content;
    }
  }
}

// Media between the breakpoint's minimum and maximum widths.
@mixin media-breakpoint-only($name, $breakpoints: $breakpoints) {
  $min: breakpoint-min($name, $breakpoints);
  $max: breakpoint-max($name, $breakpoints);

  @if $min != null and $max != null {
    @media (min-width: $min) and (max-width: $max) {
      @content;
    }
  } @else if $max == null {
    @include media-breakpoint-up($name) {
      @content;
    }
  } @else if $min == null {
    @include media-breakpoint-down($name) {
      @content;
    }
  }
}