// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';

.ml-body {

  display: flex;
  flex-flow: column;
  height: 100%;

  .ml-utility-menu {
    border-radius: 0 !important;
    /*background-color: #333 !important;*/
    margin: 0 !important;

    .item {
      border-radius: 0 !important;
    }
  }

  .ml-header {
    margin: 0;
    padding: 1.5em;
    border-radius: 0;
    background-color: setcolor(green, dark);
    display: flex;
  }

  .ml-content {
    margin: 2em;
  }

  .ml-footer {
    flex-grow: 1;
    background-color: setcolor(grey, dark);
    padding: 5em 3em 3em;

    .logo {
      font-size: 1em;
      color: white;

      a {
        img {
          @include media-breakpoint-down(sm) {
            width: 200px;
          }
        }
      }

      p {
        padding: .5em;
      }
    }

    .links {
      font-size: 1.5em;
      color: white;

      .section {
        margin-bottom: 1em;
        text-shadow: .5px .5px setcolor(grey);

        a, a:visited, a:hover {
          text-transform: none;
          text-decoration: none;
          @include setColorEaseOnHover(white, setcolor(orange));
        }

        .big {
          margin-bottom: .5em;
          font-weight: bolder;
        }
      }
    }

    .social {
      .ui.tiny.image, .ui.tiny.images .image, .ui.tiny.images img, .ui.tiny.images svg {
        width: 50px !important;
        box-shadow: 1px 1px setcolor(grey);
      }
    }
  }
}